# macOS temp files
.DS_Store

# PCB editor temp files
kicad-proj/fp-info-cache
kicad-proj/*.kicad_pcb-bak
kicad-proj/*.sch-bak
kicad-proj/*.bck
kicad-proj/bom/ibom.html

# Firmware build files
firmware/.build

# VSCode temp files
.vscode
firmware/.vscode/tasks.json
firmware/.vscode/launch.json
firmware/.vscode/.cortex-debug.registers.state.json
firmware/.vscode/.cortex-debug.peripherals.state.json