# macOS temp files
.DS_Store

# PCB editor temp files
kicad-proj/fp-info-cache
kicad-proj/*-backups

# Firmware build files
firmware/.build

# VSCode files
.vscode/*
!.vscode/.clang-format
!.vscode/c_cpp_properties_template.jsonc
!.vscode/launch_template.jsonc
!.vscode/tasks_template.jsonc